.sideBar{
	background-color:var(--clr_dark);
	width:550px;
	border-right:1px solid var(--clr_white);
	color:var(--clr_white)
}
.logo{
	margin:35px auto;

}
.button{
	margin:5px auto;
	margin-bottom:20px;
	display:block;
	width:70%;
	padding:15px;
	color:var(--clr_white);
	background-color: black;
	border: none;      
	border-radius:10px;
	outline:red;
	text-align:left;
	border-top:1px solid var( --clr_primary);
	border-left:5px solid var( --clr_primary);
	border-bottom:1px solid var( --clr_primary);
	border-right:1px solid var( --clr_primary);


	transition: all 0.3s ease-in-out ;
	letter-spacing:2px;

}
.button:hover,.button:focus{
	cursor:pointer;
	background-color: var( --clr_primary) ;

}
.title{
	margin-left:32px;
	opacity:0.5;
}