.LesArbresRemarquables{
	width:80%;
	background-color:white;
}
.footer{
	/* background-color:red; */
	display:flex;
	justify-content:space-between;
}
.note{
margin-left:15px;
color:gray;
}
.button:hover{
	cursor:pointer;
	
}
.button{
	margin-right:15px;

}