.piesChart{
	width:80%;
	background-color:white;
	overflow-y: scroll; 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items:center;
	text-align:center;
	/* gap:30px; */
	border:solid 11px var(--clr_primary);

}
.name{
	margin-top:70px;

}